<div class="page-width page-width--narrow page-content">


  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    <a href="/" title="Back to the frontpage">Home</a>

    

      <span class="breadcrumb__divider" aria-hidden="true">/</span>
      <span>Truly Custom Engagement Rings</span>

    
  </nav>



<header class="section-header">
    <h1 class="section-header__title">Truly Custom Engagement Rings</h1>
</header>

  <div class="rte rte--nomargin">

    <p style="text-align:center;font-size:24px; margin-bottom: 35px;">Create your Truly Custom ring in a few simple steps</p>

    <div class="custom__step">
      
      <div class="custom__step-item">
        <div class="custom__step-num">1</div>
        <div class="custom__step-text">Upload your inspiration, describe your dream ring.</div>
      </div>

      <div class="custom__step-item">
        <div class="custom__step-num">2</div>
        <div class="custom__step-text">Receive a link to view a render of your custom ring.</div>
      </div>

      <div class="custom__step-item">
        <div class="custom__step-num">3</div>
        <div class="custom__step-text">Receive your Truly Custom ring in as little as 14 days.</div>
      </div>
      
    </div>

    <hr>

    <h2 class="section-header__title" style="text-align:center;">The Truly Custom 14 Day Process</h2>

    <div class="custom__step">
      
      <div class="custom__step-item">
        <div class="custom__step-image"><img src="{{ 'c1.webp' | asset_url }}" alt=""></div>
        <div class="custom__step-reach">
          <p>Upload your sketches, images, and describe your dream ring.</p>
          <ul>
            <li>Send us your inspiration / sketches & tell us what you want.</li>
            <li>Select your diamond shape, carat weight, gold color & ring size.</li>
          </ul>
        </div>
      </div>

      <div class="custom__step-item">
        <div class="custom__step-image"><img src="{{ 'c2.webp' | asset_url }}" alt=""></div>
        <div class="custom__step-reach">
          <p>Receive a product link from our design team & make your purchase, or book a Virtual Appointment for further clarification.</p>
          <ul>
            <li>Receive a 360-degree video of your design & see your ring come to life.</li>
            <li>Get a price for your dream ring.</li>
            <li>Pay for the ring, or Book a Virtual Appointment.</li>
          </ul>
        </div>
      </div>

      <div class="custom__step-item">
        <div class="custom__step-image"><img src="{{ 'c3.webp' | asset_url }}" alt=""></div>
        <div class="custom__step-reach">
          <p>Receive your Truly Custom Ring in as little as 14 days from your purchase.</p>
          <ul>
            <li>Receive your truly custom ring.</li>
            <li>Your Inspiration has come to life.</li>
          </ul>
        </div>
      </div>
      
    </div>


<div class="pixel-faq" itemscope="" itemtype="https://schema.org/FAQPage">

  <h3 class="custom__form-title column-full" style="text-align:center;margin: 50px 0">Frequently Asked Questions</h3>
  
  
  <div class="pixel-faq-item active" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">What is the anticipated timeframe to create a Truly Custom Order?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" style="display:block;">
      <div itemprop="text">
        <p>As little as 14 days. Once you submit your design, allow 2-4 days to receive a link to your jewelry. Then, once you place your order, most items ship within 10 to 12 days. More complex designs or designs with specialty stones, including fancy color diamonds, may take a bit more time. Check the Estimated Ship Date on your link when you receive it. We do our best to estimate your expected shipping date. All items will ship via FedEx 2Day at no additional charge. You may choose FedEx Priority Overnight for an additional charge at checkout. Please note, electing FedEx Priority Overnight does not expedite the lead time it takes to create the jewelry.</p>
      </div>
    </div>
  </div>

  <div class="pixel-faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">Can I expedite my Truly Custom Order?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"">
      <div itemprop="text">
        <p>Unfortunately, no. Truly Custom orders cannot be expedited as we handicraft each piece, and when the order is ready, it ships. Grown Brilliance’s 14 day timeline is one of the fastest in the industry for custom designed jewelry. Rest assured that our design and production teams work diligently to process your design orders as quickly as possible. We suggest ordering 2-4 weeks in advance of any special dates. When you place your order, you may select FedEx Priority Overnight® for an additional charge at check out. Please note, electing FedEx Priority Overnight® does not expedite the lead time it takes to create and ship the jewelry.</p>
      </div>
    </div>
  </div>

  <div class="pixel-faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">Can you replicate a design from an image?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"">
      <div itemprop="text">
        <p>Yes, but please note that we cannot copy a direct design from another jeweler or infringe on a trademarked design. However, we will work to create a piece that is as close as possible to your original reference item without infringing on any trademarks.</p>
      </div>
    </div>
  </div>

  <div class="pixel-faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">Can you create a designer engagement ring?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"">
      <div itemprop="text">
        <p>We can make a custom design, or your jewelry inspired by another piece. However, we cannot replicate a design from another jeweler to produce an exact match. Our designers will create a piece as close as possible to the original reference item without infringing on any trademarks.</p>
      </div>
    </div>
  </div>

  <div class="pixel-faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">Is there anything that can’t be included in the design?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"">
      <div itemprop="text">
        <p>Alongside lab grown diamonds, we are currently only including created sapphire, created ruby, and created emeralds in the designs. Additionally, we do not create Truly Custom orders in Sterling Silver, and we will not include other retailer or designer logos to avoid infringing on any trademarks.</p>
      </div>
    </div>
  </div>


  <div class="pixel-faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">Are there any specific criteria my design needs to meet?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"">
      <div itemprop="text">
        <p>A Truly Custom design must be structurally sound to stand up to normal wear, and to properly secure the diamond. Our designers will work to create a final design that meets both your design request and these criteria. Please note, we may not be able to create your piece due to price, availability of materials, or inability to maintain the integrity of the piece.</p>
      </div>
    </div>
  </div>

  <div class="pixel-faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">Can I modify the design if needed before you start creating the piece?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"">
      <div itemprop="text">
        <p>Yes, you can! Should you need any modifications to your design, please schedule an appointment with the Truly Custom team so we can clarify your design changes. When we send you your original design, we will include a link to book an appointment with one of our experts. Once clarified with the expert, we will consult the design team on your behalf, and a new design image will be produced within 2 business days for your review.</p>
      </div>
    </div>
  </div>

  <div class="pixel-faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">Can I cancel my Truly Custom order after I complete my purchase?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"">
      <div itemprop="text">
        <p>You may cancel your Truly Custom order within two (2) business days of your purchase for a full refund, with the exception of any pre-paid deposits, which will be refunded as a credit to your account. After two (2) business days, should you cancel your order, we will refund your purchase as a store credit, including any pre-paid deposits. Store credits will never expire and can be used toward any future purchase or purchases at Grown Brilliance.</p>
      </div>
    </div>
  </div>

  <div class="pixel-faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">Can I customize other types of jewelry, or is it only for rings?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"">
      <div itemprop="text">
        <p>Yes, you can request the customization of bracelets, necklaces, and earrings. Please note, we may not be able to create your piece due to price, availability of materials, or inability to maintain the integrity of the piece. If you wish to inquire about customizing a different type of jewelry, we suggest first booking an appointment with one of our Truly Custom experts</p>
      </div>
    </div>
  </div>

  <div class="pixel-faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">Can I return or exchange my Truly Custom order?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"">
      <div itemprop="text">
        <p>You may return your Truly Custom order for store credit only within 30 days of purchase. Upon receipt of your return, we will refund your total purchase amount, including tax, to your Grown Brilliance account. This store credit will never expire and you may use it on any future purchase or purchases. Note that you will still be responsible for your original purchase on your original payment method.</p>
      </div>
    </div>
  </div>

  <div class="pixel-faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">Are Truly Custom Orders more expensive than other items on your website?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"">
      <div itemprop="text">
        <p>No. We don’t include any additional charges to create your Truly Custom design. Unlike other retailers, we do not charge extra for the design process including artist sketches (if required), computerized CAD designs, or photo and video rendering. We apply the same GB 365 pricing methodology to our Truly Custom designs that we do for all jewelry that we sell at Grown Brilliance. We offer our best price every day, 365 days a year. Rest assured, there are no additional or hidden fees in the Truly Custom pricing.</p>
      </div>
    </div>
  </div>

  <div class="pixel-faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">Will I receive a wax model of my ring?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"">
      <div itemprop="text">
        <p>No, a wax model is not required to be able to create the piece. We can design and present to you a video and multiple angle views of your design without a wax model. Once you make your purchase, we immediately begin creating your piece.</p>
      </div>
    </div>
  </div>

  <div class="pixel-faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">How much does it cost to custom design your own ring?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"">
      <div itemprop="text">
        <p>The price of your Truly Custom design depends on a few factors, including the total diamond carat weight, the amount and type of metal used in the setting, and the labor costs. For rings, we present the diamond prices up front by shape and carat weight. Then, when we present your design to you, we will show you the setting price, the center diamond price, and the total price. There are no additional charges for using our Truly Custom design service.</p>
      </div>
    </div>
  </div>

  <div class="pixel-faq-item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="pixel-faq-question"><span class="pixel-faq-status">+</span><span itemprop="name">Where are your custom designs made?</span></div>
    <div class="pixel-faq-answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"">
      <div itemprop="text">
        <p>At Grown Brilliance, we have a global supply chain. Most of our settings and diamonds are created overseas by our trusted suppliers and then shipped into our fulfillment center in the United States. Center stones are set in the United States, where every element of the Truly Custom order goes through a final quality inspection prior to shipping.</p>
      </div>
    </div>
  </div>


  <p style="text-align:center;font-size:24px; margin-top: 35px; margin-bottom: 35px;">Questions for us? Check out our FAQs below for some quick help! Or you can always reach out to us at <a href="mailto:info@anna-mooks.com">info@anna-mooks.com</a></p>
  


  <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
      $(document).ready(function($){
          
          $(".pixel-faq-item").each(function(){
              let question = $(this).find(".pixel-faq-question")
              let answer   = $(this).find(".pixel-faq-answer")
              let status   = $(this).find(".pixel-faq-status")
              
              $(question).on("click", function(){
                  
                  let parent = $(this).parent(".pixel-faq-item");
                  if ( $(parent).hasClass("active") ) {
                      $(answer).slideUp(300)
                      $(parent).removeClass("active")
                      $(status).text("+")
                  } else {
                      $(answer).slideDown(300)
                      $(parent).addClass("active")
                      $(status).text("-")
                  }
                  
              })
          })
      })
  </script>
</div>
    


    <div class="custom__form">

        {% form 'contact' %}
            {{ form.errors | default_errors }}

            <h3 class="custom__form-title column-full" style="text-align:center;">Create your 100% Truly Custom ring within 14 days</h3>
          
            <div class="name">
              <label for="name">Your name</label>
              <input type="text" name="contact[name]" id="name" />
            </div>
          
            <div class="phone">
              <label for="phone">Phone</label>
              <input type="tel" name="contact[phone]" id="phone" />
            </div>
          
            <div class="email">
              <label for="email">Email</label>
              <input type="email" name="contact[email]" id="email" />
            </div>
          
            <div class="image">
              <label for="image">Cloud link to ring images</label>
              <input type="url" name="contact[image]" id="image" />
            </div>

            <div class="metal">
              <label for="metal">Metal Color</label>
              <select id="metal" name="contact[metal]">
                <option>14k Yellow Gold</option>
                <option>14k White Gold</option>
              </select>
            </div>

            <div class="size">
                <label for="size">Ring size</label>
                <select id="size" name="contact[size]">
                  <option>5</option>
                  <option>5.5</option>
                  <option>6</option>
                  <option>6.5</option>
                  <option>7</option>
                  <option>7.5</option>
                  <option>8</option>
                </select>
            </div>
      
          
            <div class="message column-full">
              <label for="message">Tell us what to modify or to keep exactly the same</label>
              <textarea name="contact[body]" id="message"></textarea>
            </div>

        
            <div class="submit">
              <input type="submit" class="btn btn--full" value="GET STARTED" />
            </div>
        {% endform %}

      </div>

  </div>  

  <style>
    .custom__step {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .custom__step-item {
      display: grid;
      align-items: start;
      justify-items: center;
      align-content: start;
    }

    .custom__step-num {
      font-size: 48px;
      font-weight: bold;
      background: #f3d3d6;
      color: #333;
      border-radius: 15px;
      display: grid;
      width: 100px;
      height: 100px;
      align-items: center;
      justify-items: center;
      margin-bottom: 15px;
    }
    
    .custom__step-text {
      font-size: 20px;
      max-width: 280px;
      margin: 0 auto;
      line-height: 1.8;
      text-align: center;
    }

    .custom__step-reach {
      font-size: 16px;
      margin-top: 10px;
      align-self: start;
    }

    .custom__step-image {
      overflow: hidden;
    }

    .custom__form {
      border: 3px solid #f3d3d6;
      padding: 3rem;
      margin-top: 5rem;
    }

    .custom__form form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
    }


    .custom__form form div {
      display: grid;
    }
    

    .custom__form .column-full {
      grid-column: 1/-1
    }

    .custom__form .column1 {
      grid-column: 1
    }

    .custom__form .column2 {
      grid-column: 2
    }

    .custom__form .column3 {
      grid-column: 3
    }

      .pixel-faq-item {
          background: #f3d3d6;
          padding: 36px;
          margin-bottom: 2rem;
          transition: .3s;
      }
      
      .pixel-faq-question {
          font-size: 21px;
          font-style: normal;
          font-weight: 700;
          display: grid;
          grid-template-columns: 27px 1fr;
          gap: 7px;
          color: #333;
          cursor: pointer;
      }
      
      .pixel-faq-status {
          position: relative;
          width: 27px;
          height: 27px;
          border-radius: 25px;
          display: grid;
          align-content: center;
          justify-content: center;
          background: white;
          color: #333;
          font-weight: 300;
          line-height: 1;
          transition: .3s;
      }
      
      .pixel-faq-answer {
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          margin-top: 15px;
          display: none;
          transition: .3s
      }
      
      .pixel-faq-answer p {
          color: #000;
      }
      
      .pixel-faq-item.active {
          background: #F5F5F5;
      }
      
      .pixel-faq-item.active .pixel-faq-question {
          color: #000;
      }
      
      .pixel-faq-item.active .pixel-faq-status {
          color: #000;
      }
      
      @media ( max-width: 600px ) {
          .pixel-faq-status {
              top: 5px;
          }

        .custom__step {
          gap: 1rem;
          grid-template-columns: 1fr;
        }

        .custom__form form {
          grid-template-columns: 1fr;
          gap: 1rem;
        }
        
        
}



    
    
    
    
  </style>
  
</div>